button {
  cursor: pointer;
  &.btn-primary {
    background-color: $primary;
    color: $white;
    border: none;
    padding: 1rem;
    margin: 0.1rem;
    border-radius: 1rem;
    &:hover {
      background-color: white;
      color: $primary;
    }
  }
  &.btn-secondary {
    background-color: $secondary;
    color: white;
    &:hover {
      background-color: white;
      color: $secondary;
    }
  }
  &:hover {
    font-weight: bold;
  }
}
